<h2>Show domain</h2>

<ul>

  <li>
    <strong>Site:</strong>
    <%= @domain.site_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @domain.name %>
  </li>

  <li>
    <strong>Sort order:</strong>
    <%= @domain.sort_order %>
  </li>

</ul>

<%= link "Edit", to: domain_path(@conn, :edit, @domain) %>
<%= link "Back", to: domain_path(@conn, :index) %>
