<h2>Show language</h2>

<ul>

  <li>
    <strong>Sort order:</strong>
    <%= @language.sort_order %>
  </li>

  <li>
    <strong>Abbr:</strong>
    <%= @language.abbr %>
  </li>

  <li>
    <strong>Charset:</strong>
    <%= @language.charset %>
  </li>

</ul>

<%= link "Edit", to: language_path(@conn, :edit, @language) %>
<%= link "Back", to: language_path(@conn, :index) %>
