<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-dark navbar-main navbar-fixed-top bg-inverse">
      <a class="navbar-brand" href="/admin">Lyn Admin</a>
      <ul class="nav navbar-nav">
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "objects")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "objects") %>">Objects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "users")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "users") %>">Users <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          System
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" href="<%= admin_path(@conn, :index, "object_types") %>">Object Types <span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="<%= admin_path(@conn, :index, "languages") %>">Languages <span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="<%= admin_path(@conn, :index, "domains") %>">Domains <span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="<%= admin_path(@conn, :index, "sites") %>">Sites <span class="sr-only">(current)</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= sql_path(@conn, :index) %>">Sql <span class="sr-only">(current)</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= maintenance_path(@conn, :index) %>">Maintenance <span class="sr-only">(current)</span></a>
          </div>
        </li>
      </ul>
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-default" type="submit">Search</button>
      </form>
    </nav>

    <section class="container-fluid full-height">
      <div class="row full-height">
        <%
          sidebar_file = sidebar(@conn)
        %>
        <%= if sidebar_file do %>
          <aside id="sidebar">
            <%= render Lyn.Admin.SidebarView, sidebar_file, assigns %>
          </aside>
        <% end %>
        <div id="main" <%= if !sidebar_file do %>class="full-width"<% end %>>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </section> <!-- /container-fluid -->
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
