<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-dark navbar-main bg-inverse">
      <a class="navbar-brand" href="/admin">Lyn Admin</a>
      <ul class="nav navbar-nav">
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :dashboard)) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :dashboard) %>">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, object_path(@conn, :index)) %>">
          <a class="nav-link" href="<%= object_path(@conn, :index) %>">Objects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "object_types")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "object_types") %>">Object Types <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "languages")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "languages") %>">Languages <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "domains")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "domains") %>">Domains <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, admin_path(@conn, :index, "sites")) %>">
          <a class="nav-link" href="<%= admin_path(@conn, :index, "sites") %>">Sites <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <%= active_class(@conn, maintenance_path(@conn, :index)) %>">
          <a class="nav-link" href="<%= maintenance_path(@conn, :index) %>">Maintenance <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-default" type="submit">Search</button>
      </form>
    </nav>

    <section class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <%= render Lyn.Admin.SidebarView, sidebar(@conn) %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <main role="main">
            <%= render @view_module, @view_template, assigns %>
          </main>
        </div>
      </div>
    </section> <!-- /container-fluid -->
    <script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
  </body>
</html>
