<h1>System Limits</h1>

<h2>Elixir</h2>
<p><strong>Version:</strong> <%= @build_info.version %><br />
<%= if @build_info.revision !== "" do %>
<strong>Revision:</strong> <%= @build_info.revision %><br />
<% end %>
<strong>Date:</strong> <%= @build_info.date %></p>

<h2>Environment variables</h2>
<%= for {key, value} <- @env do %>
  <strong><%= key %></strong>=<%= value %><br />
<% end %>
