@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html {
  font-size: 13px;
}

html,
body,
.full-height {
    height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

#sidebar,
#main {
  padding: 15px;
}

#main {
  margin-left: 220px;
  padding-top: 59px;

  &.full-width {
    margin-left: 0;
  }
}

#sidebar {
  //margin-top: -54px;
  position: fixed;
  z-index: 1;
  min-height: 100%;
  width: 220px;
  padding-top: 59px;

  // border-top: 1px solid #fff;
  background:linear-gradient(to right,#3a3633 93%,#2a2725 100%);

  .nav-pills .nav-link {
    color: #fff;
  }
}

.nowrap {
  white-space: nowrap;

  form {
    display: inline-block;
  }
}
