.table-scaffold {
  a.up,
  a.down {
    position: relative;
    margin-right: 2px;
  }

  a.up:after,
  a.down:after {
    top: -2px;
    right: -10px;
    position: absolute;
  }

  a.up:after {
    content: " \2193";
  }

  a.down:after {
    content: " \2191";
  }
}
