<ul class="nav nav-pills nav-stacked ">
<%= for site <- @object_tree do %>
  <li class="nav-item">
    <a class="nav-link <%= active_class(@conn, admin_path(@conn, :edit, "objects", 1)) %>" href="<%= admin_path(@conn, :edit, "objects", 1) %>">
      <%= site.name %> <span class="sr-only">(current)</span>
    </a>
  </li>
<% end %>
</ul>
