<h2>Listing</h2>

<table class="table">
  <thead>
    <tr>
      <%= for column <- @columns do %>
        <th><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
<%= for entry <- @entries do %>
    <tr>
      <%= for column <- @columns do %>
        <td><%= Map.get(entry, column, nil) %></td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
