<h2>Show object type</h2>

<ul>

  <li>
    <strong>Sort order:</strong>
    <%= @object_type.sort_order %>
  </li>

  <li>
    <strong>Is fake:</strong>
    <%= @object_type.is_fake %>
  </li>

  <li>
    <strong>Abbr:</strong>
    <%= @object_type.abbr %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @object_type.name %>
  </li>

</ul>

<%= link "Edit", to: object_type_path(@conn, :edit, @object_type) %>
<%= link "Back", to: object_type_path(@conn, :index) %>
